
DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


/00_NOTES
/01_ASSETS
02_DEV/android_studio/SelfieClub/.gradle
02_DEV/android_studio/SelfieClub/.idea
/02/DEV/android_studio/Selfieclub/local.properties
/02/DEV/android_studio/Selfieclub/.idea/workspace.xml
02_DEV/android_studio/SelfieClub/app/build
/03/DEPLOY